@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'TheJamsil5Bold';
}
.main{
    margin-left: 30%;
    margin-right: 30%;
}

.maintitle{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.startbutton{
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    font-size: 32px;
    padding: 15px;
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}

.quesform{
    display: flex;
}
.left{
    width: 50%;
    
}
.right{
    width: 50%;
}
.questimg{
    width: 100%;
}
.startbutton:hover{
    background-color: beige;
}

.hide{
    display: none;
}